{
  "sdk_version": "1.0.1926",
  "executable": "Main.loom",
  "display": {
    "width": 960,
    "height": 640,
    "title": "WarGame",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "com.lunarraid.wargame",
  "app_name": "WarGame",
  "mobile_provision": "wargame.mobileprovision"
}